body {
  background-color: rgba(228,225,204,1);
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.container header[role="top"] {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: rgba(232,85,61,1);
  border-radius: 100px;
  z-index: 1;
  text-align: center;
  border-left: 3px solid #FFF;
  border-right: 3px solid #FFF;
  border-top: 3px solid #0099FF;
  border-bottom: 3px solid #0099FF;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease;
}

.container header[role="top"]:hover {
  border-top: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
  border-left: 3px solid #0099FF;
  border-right: 3px solid #0099FF;

}

.container header[role="top"] h1 {
  padding-top: 60px;
  color: rgba(255,255,255,1);
  text-shadow: 0 -1px 0 rgba(200,50,30,1);
  font-size: 1.7em;
}

.container section[role="main"] {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgba(86,117,140,1);
  border-radius: 200px;
  margin: -50px auto 0;
  border-left: 3px solid rgba(232,85,61,1);
  border-right: 3px solid rgba(232,85,61,1);
  border-top: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
  text-align: center;
  color: #FFF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
}

.container section[role="main"]:hover {
  border-top: 3px solid rgba(232,85,61,1);
  border-bottom: 3px solid rgba(232,85,61,1);
  border-left: 3px solid #FFF;
  border-right: 3px solid #FFF;
}

.container section[role="main"] header {
  position: relative;
  display: block;
  margin-top: 20%;
}

.container section[role="main"] hr {
  width: 80%;
}

.container section[role="main"] section {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.container section[role="main"] section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
